div {
  padding: 10px;
}

#circularProgress {
  text-align: center;
  margin-top: 100px;
}

.tableDiv {
  padding: 50px 150px 20px 150px;
}
 
table {
  border-collapse: collapse;
  text-align: right;
}

th {
  padding: 5px 20px 5px 10px;
  border: 1px solid black;
}

td {
  padding: 5px 20px 5px 10px;
  border: 1px solid black;
}

h2 {
  text-align: center;
  letter-spacing: 5px;
  padding: 15px 0px 15px 0px;
}

hr  {
  width: 550px;
  margin: 0 auto;
}

.card {
  margin: 10px;
  padding: 15px;
}

.card-title {
  text-align: center;
  letter-spacing: 5px;
}

